# コピーして .env にして使う
# 実際の値は GitHub に上げないこと

APP_NAME=asset-app
APP_ENV=local

# API keys
GMO_API_KEY=
GMO_API_SECRET=
ETHERSCAN_API_KEY=
HELIUS_API_KEY=
COINGECKO_API_KEY=

# wallets
METAMASK_ADDRESS=
PHANTOM_ADDRESS=
